
		html{
			height: 100%;
		}
		@font-face{
			src:url(18473.ttf);
			font-family: my-font;
		}
		body{
			font-family: my-font;
			color: white;
			height: 100%;
		}
		/*главная*/
		.school{
			position: absolute;
			top:5%;
			left: 66%;
			height: 250px;
			width: 230px;
		}
		.mastery{
			top:60%;
			position: absolute;
			left:40%;
			height: 300px; 
			width: 230px;
		}
		.arena{
			position: absolute;
			left: 35%;
			height: 300px; 
			width: 230px;
		}
		.main_player{
			position: absolute;
			top:50%;
			left: 50%;
			transition:  0.8s;
			height: 190px;
		}
		.main_player2{
			position: absolute;
			top:50%;
			left: 60%;
			transition:  0.8s;
			height: 190px;
		}
		.main_player3{
			position: absolute;
			top:50%;
			left: 60%;
			transition:  0.8s;
			height: 190px;
		}
		.main_player4{
			position: absolute;
			top:50%;
			left: 60%;
			transition:  0.8s;
			height: 190px;
		}
		/*2 локация*/
		.loc2_player2 {
			top:10%; 
			left: 57%;
			position: absolute; 
			height: 400px;
		}
		.loc2_player {
			left:15%; 
			top:50%; 
			position: absolute;
			height: 400px;
		}
		.loc2_talk {
			position: absolute;
			width: 300px;
			margin-left: 66%;
			display: none;
			background-image: url(Loc2/talk.png);
			background-size: 100% 100%;
			color: black;
			padding: 50px;
		}

		.loc2_pravilno{
			background-color: gray; width: 100px; position: absolute;
		}
		.loc2_pravilno2{
			background-color: gray; width: 100px; position: absolute;
		}
		.loc2_pravilno3{
			background-color: gray; width: 100px; position: absolute;
		}
		.choice-player-1, .choice-player-2{
		    height: 300px;
		    width: 300px;
		    background-color: #edf6f9;
		    margin-left: auto;
		    margin-right: auto;
		    background-size: 100%;
		}

		.loc2_variants {
			background-color: gray; width: 100px; position: absolute;
		}
		.loc2_variants2 {
			background-color: gray; width: 100px; position: absolute;
		}
		.loc2_variants3 {
			background-color: gray; width: 100px; position: absolute;
		}
		.loc2_variants_block{
			display: flex; position: absolute; top: 70%;left: 30%; display:none;
		}
		.loc2_variants_block2{
			display: flex; position: absolute; top: 70%;left: 30%; display:none;
		}
		.loc2_variants_block3{
			display: flex; position: absolute; top: 70%;left: 30%; display:none;
		}
		.loc2_pole {
			margin-top: 25%;
			position: absolute;
		}
		.location0 {
			background-image: url();
			background-size: 100% 100%;
		}
		.loc4_player4{
			top:20%; 
			left: 50%;
			position: absolute; 
			height: 400px;
		}
		.loc4_exit{
			height: 100px;
			width: 150px;
			top:15%; 
			left: 15%;
			position: absolute; 
		}